#but_saiko {
    
}
#but_13 {

}
#foto{

}
.margin{
    margin: auto;
    width: 0%;
}
.titulo{
    color: rgb(194, 148, 247);
    text-align: center;
}
.paragrafo{
    text-align: center;
    color: rgb(142, 22, 255);
}